
#enterBtn {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #000000;
    top: 34%;
    left: 42%;
}

#reload {
    position: absolute;
    height: 50px;
    width: 100px;
    top: 20%;
    left: 70%;
}

#textBox {
    position: absolute;
    top: 25%;
    left: 40%;
}

.button {
    margin: 5px;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
